.header {
  margin: 0 auto;
  @include rwd('desktop') {
    max-width: map-get($breakpoints, 'desktop');
    min-height: 100px;
  }
}

.nav__item--radius {
  border-bottom-left-radius: 16px;
}

.nav {
  background-image: $color-primary;
  background: linear-gradient(90deg, $color-secondary 50%, $color-primary 50%);
  color: #fff;

  &__wrapper {
    @include flex(space-between, center);
    margin: 0 auto;
    @include rwd('desktop') {
      max-width: map-get($breakpoints, 'desktop');
    }

    &__inner {
      align-self: flex-start;
    }
  }

  &__container {
    @include flex();
    padding: 0;
    margin: 0;
    list-style: none;
  }


  &__link {
    position: relative;
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    color: #fff;

    &::after {
      content: '';
      position: absolute;
      bottom: 16px;
      left: 0;
      display: none;
      height: 2px;
      width: 90%;
      background: #fff;
      transform: translateX(5%);
    }

    &:hover::after, :focus::after {
      display: block;
    }
  }

  &--primary {

    & .nav__item {
      position: relative;
      background: $color-primary;
    }
    & .nav__link {
      padding: 24px 16px;
      font-size: 14px;
      text-transform: uppercase;

      &:active + .nav__container__inner, &:focus + .nav__container__inner {
        @extend .nav__container;
        display: block;
      }
    }
  }

  &--secondary {
    justify-content: space-around;
    padding-left: 16px;
    background: $color-secondary;
    font-weight: bold;
    text-transform: capitalize;
    border-top-right-radius: 16px;
    @include rwd(desktop) {
      margin-right: -16px;
    }

    & .nav__item {
      flex-basis: calc(25% - 16px);
    }

    & .nav__link {
      @include flex(normal, center);
      @include rwd(desktop) {
        padding: 42px 0;
        &::after {
          bottom: 24px;
        }

      }

      & .fa {
        display: inline-block;
        @include rwd(desktop) {
          margin-right: 8px;
        }
        font-size: 32px;
      }
    }
  }

  &__container__inner {
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: translateY(100%);
    z-index: 2;

    & .nav__link__inner {
      padding: 16px 0;
    }
  }

  &__link__inner {
    @extend .nav__link;
    width: 100%;
    background: $color-primary;
    text-align: center;

    &::after {
      bottom: 4px;
    }
  }
}

.card {
  @include rwd(mobile) {
    display: none;
  }
  @include rwd(desktop) {
    display: block;
  }
  position: relative;
  margin: 16px auto 0 56px;
  padding: 8px 16px;

  & p {
    margin: 0;
  }

  &__wrapper {
    @include flex(normal, center);
    padding: 8px 16px;
    margin: 0;
    border: 2px solid #fff;
    background: linear-gradient(90deg, $color-primary 0%, $color-secondary 80%);
  }

  &__title {
    position: absolute;
    top: -12px;
    left: 24px;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
  }
  @include rwd(desktop) {
    &__photo {
      margin: 16px 0 16px 24px;
    }
  }

  &__photo {

    &__item {
      max-width: 64px;
      max-height: 64px;
      border-radius: 50%;
    }
  }

  &__info {
    margin-left: 24px;
    font-size: 12px;

    &__name {
      font-weight: bold;
    }

    &__text a {
      color: #fff;
      text-decoration: none;
    }
  }
}
