//fonts
$font-primary: 'Ubuntu', sans-serif;
//colors
$color-primary: #213b68;
$color-secondary: #35569a;
$color-footer: #0a1d47;

//rwd breakpoints
$breakpoints: ('mobile':  375px, 'tablet': 768px, 'desktop':  1004px) !default;
